# Ignore dataset files
Dataset/

# Ignore report files
Report/

# Ignore saved model files
Saved Models/
Results/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
env/
*.egg-info/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# macOS files
.DS_Store

# Ignore Markdown files but keep the repository root README
*.md
!/README.md
